# Dependencies
node_modules/

# Production build outputs
dist/

# Local testing & demo
sample/
Landing/
landing/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test coverage
coverage/
.nyc_output/

# OS files
.DS_Store
Thumbs.db

# Editor & IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & cache
.env
.env.local
*.tsbuildinfo
.cache/
